#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.top-header {
  background-color: #3e5062;
}

.info-section {
  background-color: #f2f2f2;
  padding: 15px 15px 15px;
  border-radius: 10px;
  margin: 20px;
}

.info-section > h2 {
  margin: 0;
}

.center {
  display: flex;
  justify-content: left;
  align-items: center;
}

.loading-title {
  margin-left: 20px;
}

ul {
  padding-left: 5px;
}

li {
  list-style-type: none;
}
